body {
  background-color: #24324B; }

#main {
  font-family: sans-serif;
  color: #24324B;
  background-color: #F05620;
  margin: auto;
  width: 500px;
  padding: 10px;
  text-align: center;
  border-width: 0px;
  border-radius: 5px; }
  #main a {
    text-decoration: none;
    color: #A2A5A3;
    padding: 0px 5px;
    margin: 0px 2px;
    float: right;
    background-color: #24324B;
    border-radius: 5px;
    color: white;
    font-weight: bold; }
  #main input {
    color: #24324B;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #24324B; }
  #main *::-webkit-input-placeholder {
    color: #24324B;
    font-weight: normal; }
  #main *:-moz-placeholder {
    /* FF 4-18 */
    color: #24324B;
    font-weight: normal; }
  #main *::-moz-placeholder {
    /* FF 19+ */
    color: #24324B;
    font-weight: normal; }
  #main *:-ms-input-placeholder {
    /* IE 10+ */
    color: #24324B;
    font-weight: normal; }
  #main input[type="submit"] {
    color: white;
    background-color: #24324B; }
  #main h1 {
    font-size: 3em;
    font-family: sans-serif;
    color: #24324B; }
  #main ul {
    text-align: left;
    list-style: none; }

@media screen and (max-width: 500px) {
  #main {
    width: 100%; } }
