$primary-orange: #F05620;
$secondary-blue: #24324B;
$accent-gray: 	#A2A5A3;

body{
	background-color: $secondary-blue;
}

#main{
	font-family: sans-serif;
	color: $secondary-blue;
	background-color: $primary-orange;
	margin: auto;
	width: 500px;
	padding: 10px;
	text-align: center;
	border-width: 0px;
	border-radius: 5px;

	a{
		text-decoration: none;
		color: $accent-gray;
		padding: 0px 2px;
		float: right;
	}

	input{
		color: $secondary-blue;
		font-weight: bold;
		border-radius: 5px;
		border: 1px solid $secondary-blue;
	}

	*::-webkit-input-placeholder {
    	color: $secondary-blue;
    	font-weight: normal;
	}
	*:-moz-placeholder {
    	/* FF 4-18 */
    	color: $secondary-blue;
    	font-weight: normal;
	}
	*::-moz-placeholder {
    	/* FF 19+ */
    	color: $secondary-blue;
    	font-weight: normal;
	}
	*:-ms-input-placeholder {
    	/* IE 10+ */
    	color: $secondary-blue;
    	font-weight: normal;
	}

	input[type="submit"]{
		color: white;
		background-color: $secondary-blue;
	}

	h1{
		font-size: 3em;
		font-family: sans-serif;
		color: $secondary-blue;
	}

	ul{
		text-align: left;
		list-style: none;
	}

}

@media screen and (max-width: 500px) {
  #main{
  	width: 100%;
  }
}